<!DOCTYPE html>
<!-- Coding by CodingNepal | www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>  Dashboard | Avocat </title>

    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">Avocat</span>
    </div>
      <ul class="nav-links">
        <li>
          <a routerLink="/dashbord">
            <i class="bx bx-grid-alt"></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a routerLink="/client">
            <i class="bx bx-group"></i>
            <span class="links_name">Clients</span>
          </a>
        </li>
        <li>
          <a routerLink="/prodroit">
            <i class="bx bx-group"></i>
            <span class="links_name">Professionnel de droit</span>
          </a>
        </li>
        <li>
          <a href="/rendes_vous">
            <i class='bx bx-alarm'></i>
            <span class="links_name">Rendez Vous</span>
          </a>
        </li>
        
        
        <li class="log_out">
          <a href="#">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Dashboard</span>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search...">
        <i class='bx bx-search' ></i>
      </div>
      <div class="profile-details">
        <img src="assets/images/loc.png" alt="">
        <span class="admin_name">Prem Shahi</span>
        <i class='bx bx-chevron-down' ></i>
      </div>
    </nav>

    <div class="home-content">
      <div class="overview-boxes">
        <div class="box"style="text-align: center;background-color:#dc3545;color:white;">
          <div class="right-side" >
            <div class="box-topic">Total des revenus</div>
            <div class="number">40,876</div>
            <div class="indicator">
              
              
            </div>
          </div>
          
        </div>
        <div class="box" style="text-align: center;background-color:#f9b115;color:white;">
          <div class="right-side">
            <div class="box-topic">Nombre de consultation</div>
            <div class="number">38,876</div>
            <div class="indicator">
              
              
            </div>
          </div>
          
        </div>
        <div class="box" style="text-align: center;background-color:#321fdb;color:white;">
          <div class="right-side">
            <div class="box-topic">Total Profit</div>
            <div class="number">$8876</div>
            
          </div>
        
        </div>
      </div>

      <div class="sales-boxes">
        <div class="recent-sales box">
			<div style="display: flex;justify-content: space-between;">
          <div class="title"style="margin-bottom:20px;">Gestion des clients</div>
		  <div><a href=""style="padding:10px 10px ;background-color:green;color: white;border-radius:5px;">Add user</a></div>
		</div>
		  <div class="sales-details">
			<ul class="details">
				<li class="topic">Username</li>
				<li><a href="#">Abderrahim</a></li>
			
			  </ul>
            <ul class="details">
            <li class="topic">Email</li>
            <li><a href="#">abderrah.com</a></li>
           
          </ul>
          <ul class="details">
            <li class="topic">Email confirmation</li>
            <li><a href="#">0</a></li>
           
          </ul>
          <ul class="details">
            <li class="topic" >Action</li>
			<div style="display: flex;">
            <li><a href="#"style="padding:10px;"><i class='bx bxs-pencil' style="color: orange;" ></i></a></li>
			<li><a href="#"><i class='bx bx-message-alt-x' style="color: red;"></i></a></li>
          </div>
          </ul>
          </div>
         
        </div>
       
      </div>
    </div>
  </section>

  








</body>
</html>